@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  transition: .3s ease;
}


/* color and styles default */

:root {
  --Primary: "#0DB44C";
  --transparentPrimary: "#d6f5d6";
  --transparentPrimary2: "#eaf7e9";
  --white: "#ffffff";
  --lightGray1: "#DDDDDD";
  --lightGray2: "#e6e6e6";
  --black: "black";
  --gray: "#898B9A";
  --gray2: "#BBBDC1";
  --gray3: "#CFD0D7";
  --darkGray: "#525C67";
  --darkGray2: "#757D85";
  --transparent: "transparent";
  --red: "#ff4d4d";
  --green: "#27AE60";
  --layout: "#f0f0f0";
  --yellow: '#ffdf00'
}