body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins'), url(./Assets/Fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Medium';
  src: local('Poppins'), url(./Assets/Fonts/Poppins-Medium.ttf) format('truetype');
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
